<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK BTC APPLICATION</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static' ,filename='scropt.js') }}"></script>
</head>
<body>
    <div class="container"> <!--contaner body-->
        <div class="Header_page"> <!--header site ( name and paragraph)-->
            <h1 id='Header_name'><a href="{{ index }}">FLASK BITCOIN APPLICATION</a></h1>
            <p id='Prograph'>Welcome to my application</p>
        </div>
        <div class="content">
            <div class='left'>
                <div class="btcoin_logo"></div>
                <p>
                    Welcome! <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class='rigth'>
                <div class="login_logo"></div>
                <form action="" class="form-groukp form-costomize">
                    <input class="form-control " type="text" name="username" placeholder="Username"><br>
                    <input class="form-control " type="text" name="passqord" placeholder="Password"><br>
                    <button class="btn btn-success">login</button>
                </form>
            </div>
        </div>
        <div class="Footer_page">
            <ul>
                <li><a href="https://wwww.sameet.ir/">My Weblog</a></li>
                <li><a href="https://sameet.ir/videocast/">VideoCast</a></li>
                <li><a href="https://www.youtube.com/channel/UC_XJ4oRW4qL2Cmi7VHo9KsQ">My Youtube</a></li>
                <li><a href="https://t.me/sameet_ir">My Telegram</a></li>
                <li>Devepoer is <i><b>sameet</b></i></li>
            </ul>
        </div>
    </div>
</body>
</html>