<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASK BTC APPLICATION</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static' ,filename='scropt.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="Header_page">
            <h1 id='Header_name'>FLASK BITCOIN APPLICATION</h1>
            <p id='Prograph'>Welcome to my application</p>
        </div>
        <div style="background-color: #fff; height: 500px;"></div>
        <div class="Footer_page">
            <p>Devepoer is sameet</p>
        </div>
    </div>
</body>
</html>